body{
			background-image:url("COLLECTION.jpg");
	

	background-size: cover; 

}
	}

#header {
	position:relative;
	float:left;
	
	width:960px;
	height:20px;
	margin:0px 20px 50px 90px;
}
.navtag1 {
	position:absolute;
	background-color:rgb(241,242,243);
	float:left;
	
	width:960px;
	height:20px;
	margin:55px 20px 50px 93px;
}
.blank {
	position:absolute;
	float:left;
	
	width:960px;
	height:15px;
	margin:85px 20px 50px 90px;
}
#car_region {

	position:absolute;
	
	float:left;
	
	width:660px;
	height:740px;
	margin:120px 20px 50px 90px;
	
}
.id {
	
	padding: 0px;
    float: left;
    margin-top: 5px;
}
.menu1{
	width:400px;
	height:20px;
	
	padding: 0px;
    float: left;
    margin-top: 15px;
    margin-left: 260px;
}

nav ul { list-style:none; text-align:right;}
nav ul li a{float:left;padding-right:40px;padding-left:10px;text-decoration:none;font-size:13px;
margin-top:-13px;color:rgb(0,0,0);}

nav ol { list-style:none; text-align:right;}
nav ol li a{float:left;padding-right:100px;padding-left:10px;text-decoration:none;font-size:13px;
margin-top:-5px;color:rgb(111,111,112);}

.search {
	
	width:auto;;
	height:15px;
}
.z{
	
  float: left;

  font-family: 'Exo', sans-serif;
 
}

.white{width:952px;background:white;height:70px;}
.grey{width:952px;background:rgb(234,235,233);height:70px;}
.box{width:25%;height:inherit;float:left;}
.price{font-size:11px;margin-top:0px;margin-bottom:0px;margin-left:2px;
		text-align:center;}
.USD{margin-top:0px;margin-bottom:0px;margin-left:2px;font-size:9px;
		text-align:center;}
.select{margin-top:0px;margin-bottom:0px;margin-left:2px;width:55px;height:20px;
		text-align:center;background:rgb(70,124,193);color:white;margin-left:54px;}
.total{font-size:9px;color:grey;margin-top:0px;margin-bottom:0px;margin-left:2px;
		text-align:center;}
.car_name{font-size:10px;color:black;margin-top:-8px;margin-bottom:2px;margin-left:-20px;
		text-align:center;}
.car {margin-top:-4px;margin-left:20px;width:100px;height:50px;}
		

.equipment {position:absolute;margin-left: 40px;
   					 margin-top:0px;font-size:9px;float:left;}
.equipment_2 {position:absolute;margin-left: 40px;
   					 margin-top:11px;font-size:9px;float:left;}
.equipment_3 {position:absolute;margin-left: 40px;
   					 margin-top:22px;font-size:9px;float:left;}
.equipment_4 {position:absolute;margin-left: 40px;
   					 margin-top:33px;font-size:9px;float:left;}
.equipment_5 {position:absolute;margin-left: 40px;
   					 margin-top:44px;font-size:9px;float:left;}
   					 
